tml, body {
height:100%;
}

header {
display:block;background: #2F4F4F;padding:10px 0px;
}
section {
width: 79%;
background: #008B8B;
float: left;
overflow: auto;
padding-bottom: 60px;
padding-top:30px;
}

aside {
float: right;
border: 10px solid blue;
width: 19%;
border: 1px solid cyan;
Si quisieramos ocultar el contenido relacionado pondriamos visibility a hidden*/
/*visibility: hidden;*/
}

footer {
position: relative;
margin-top: -50px;
height: 40px;
padding:5px 0px;
clear: both;
background: #2F4F4F;
text-align:center;
color: #fff;
}

figure {
display: table; margin: 0 auto;
}

*{
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

body{
	background: #800080;
}

header{
	width: 100%;
}

.navegacion{
	width: 1000px;
	margin: 30px auto;
	background: #fff;
}

.navegacion ul{
	list-style: none;
}

.menu > li{
	position: relative;
	display: inline-block;
}

.menu > li > a{
	display: block;
	padding: 15px 20px;
	color: #483D8B ;
	font-family: 'corbel';
	text-decoration: none;
}

.menu li a:hover{
	color: #808080;
	transition: all .3s;
}

/* Submenu*/

.submenu{
	position: absolute;
	background: #000000;
	width: 120%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 1.5s;
}

.submenu li a{
	display: block;
	padding: 15px;
	color: #F0F8FF;
	font-family: 'Open sans';
	text-decoration: none;
}

.menu li:hover .submenu{
	visibility: visible;
	opacity: 1;
      


       
}